@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');

@font-face {
    font-family: berlin_sans_fb;
    src: url('../fonts/BerlinSansSB.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', 'sans-sherif';
}

:root {
    --light-bg: #F2F5F7;
    --dark-bg: #25283D;
    --primary-color: #45f882;
    --secondary-color: #A594F9;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: var(--dark-bg);
    scroll-behavior: smooth;
}


/*===============================================================*/
/* Général */
/*===============================================================*/

::-webkit-scrollbar {
    width: 8px;
}
  

  ::-webkit-scrollbar-track {
    background: var(--dark-bg);
  }
  

  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #39cf6b;
  }


.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
  
#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #b4b6c3;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -200;
    transition: 1s all ease;
}
#text {
    margin-top: -35px;
    text-align: center;
}
  
#text a {
    color: white;
    text-decoration: none;
}

.svg-wrapper .active {
    stroke-dasharray: 50 0 !important;
    stroke-width: 4px !important;
    stroke-dashoffset: 0 !important;
    stroke: var(--primary-color) !important;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 4px;
    stroke-dashoffset: 0;
    stroke: var(--primary-color);
}


/*===============================================================*/
/* Header */
/*===============================================================*/

header {
    width: 100%;
    height: 1200px;
    overflow: hidden;
    position: relative;
}

header .background {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 90%;
}

header .background img {
    width: 100%;
    filter: grayscale(0.9) blur(2px);
}

header .background .blacklayout {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.3);
}

header .content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

header .box {
    position: absolute;
    z-index: 3;
    top: 51%;
    width: 120%;
    height: 800px;
}


/*===============================================================*/
/* Nav */
/*===============================================================*/


header nav {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .blur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(180deg, #24242485, #00000000);*/
    filter: blur(4px);
}

header nav .buttons {
    position: relative;
    width: 80%;
    height: 80%;
    display: inline-flex;
    align-items: center;
    animation: apparition-top ease 1s;
}

header nav .buttons .logo {
    height: 100%;
    width: 80px;
    padding-right: 20px;
}

header nav .buttons .logo img {
    height: 100%;
}

header nav .pages {
    padding: 20px;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
}

header nav .pages .svg-wrapper a {
    padding: 15px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    text-shadow: -1px 1px 0px rgba(170, 170, 170, 0.66);
}

header nav .pages .active {
    color: var(--primary-color);
}

header nav .navigation {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
}

header nav .navigation .separator {
    height: 30%;
    margin: 20px;
    width: 2px;
    background-color: #fff;
}


header nav .navigation a .bx {
    font-size: 30px !important;
}

header nav .navigation .button-login {
    margin-left: 5px;
    margin-right: 15px;
    padding: 13px;
    background-color: var(--dark-bg);
    display: flex;
    align-items: center;
    border-radius: 20px;
}


/*===============================================================*/
/* Hero */
/*===============================================================*/


header .hero {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

header .hero .text {
    filter: url(#threshold);
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

header .hero .text h1 {
    position: absolute;
    color: #fff;
    font-family: 'berlin_sans_fb' !important;
    font-size: 130px;
    line-height: 0.8;
    text-shadow: -1px 5px 0px rgba(170, 170, 170, 0.66);
    animation: apparition-left ease 0.5s;
}

header .hero .btn {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
    background-color: var(--primary-color);
    color: #25283D;
    font-size: 20px;
    border-radius: 15px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    animation: apparition-right ease 0.5s;
}

.pagecontent {
    top: 73%;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: auto;
}


/*===============================================================*/
/* Dernier tournois */
/*===============================================================*/

.lasttournament {
    position: relative;
    width: 100%;
    height: 780px;
    overflow: hidden;
}

.lasttournament .box {
    position: absolute;
    width: 120%;
    height: 100%;
}

.lasttournament .box img {
    width: 100%;
}

.lasttournament .content {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.lasttournament .content .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lasttournament .content .text p {
    color: var(--primary-color);
    font-family: 'Barlow', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 2px;
}

.lasttournament .content .text h1 {
    padding: 10px;
    color: #fff;
    font-family: 'berlin_sans_fb';
    font-weight: 600 !important;
    letter-spacing: 2px;
    font-size: 40px;
}

.lasttournament .content .text .separator {
    background-color: var(--primary-color);
    width: 50px;
    height: 2px;
    margin-top: 10px;
}

.lasttournament .content .text span {
    color: #fff;
    margin-top: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 2px;
}

.lasttournament .content .result {
    margin-top: 80px;
    display: flex;
    width: 55%;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}

.lasttournament .content .result .left {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    justify-content: left;
    flex-direction: column;
}


.lasttournament .content .result .left .sc {
    display: flex;
    align-items: center;
    justify-content: right;

}

.lasttournament .content .result .left .pp {
    position: absolute;
    display: flex;
    left: 0px;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    background-color: var(--primary-color);
}

.lasttournament .content .result .left .pp img {
    width: 85%;
}

.lasttournament .content .result .left .score {
    margin-left: 20px;
    width: 240px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
}


.lasttournament .content .result .left .score h1 {
    color: #25283D;
    font-family: 'berlin_sans_fb';
    font-size: 60px;
    padding-right: 20px;
    margin-top: -5px;
}


.lasttournament .content .result .left .desc {
    padding: 30px;
    margin-left: 10px;
    color: #fff;
    text-align: right;
}

.lasttournament .content .result .left .desc h1 {
    font-family: 'berlin_sans_fb';
    font-weight: 600 !important;
    letter-spacing: 2px;
    font-size: 30px;
}


.lasttournament .content .result .left .desc h2 {
    color: var(--primary-color);
    font-size: 25px;
    font-family: 'berlin_sans_fb';
    font-weight: 400 !important;
    letter-spacing: 2px;
}



/* VS */


.lasttournament .content .result .vs {
    position: absolute;
    color: #fff;
    font-size: 30px;
    top: 20px;
}


/* Right */

.lasttournament .content .result .right {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    justify-content: right;
    flex-direction: column;
}


.lasttournament .content .result .right .sc {
    display: flex;
    align-items: center;
    justify-content: left;

}

.lasttournament .content .result .right .pp {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    right: 0px;
    border-radius: 100%;
    background-color: var(--primary-color);
}

.lasttournament .content .result .right .pp img {
    width: 85%;
}

.lasttournament .content .result .right .score {
    margin-right: 20px;
    width: 240px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 5px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.lasttournament .content .result .right .score h1 {
    color: #25283D;
    font-family: 'berlin_sans_fb';
    font-size: 60px;
    padding-left: 20px;
    margin-top: -5px;
}




.lasttournament .content .result .right .desc {
    padding: 30px;
    margin-left: 10px;
    color: #fff;
    text-align: left;
}

.lasttournament .content .result .right .desc h1 {
    font-family: 'berlin_sans_fb';
    font-weight: 600 !important;
    letter-spacing: 2px;
    font-size: 30px;
    width: 200px;
}


.lasttournament .content .result .right .desc h2 {
    color: var(--primary-color);
    font-size: 25px;
    font-family: 'berlin_sans_fb';
    font-weight: 400 !important;
    letter-spacing: 2px;
}


.lasttournament .content .description {
    margin-top: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lasttournament .content .description p {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: 400 !important;
    letter-spacing: 2px;
}

.lasttournament .content .description a {
    margin-top: 30px;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: #25283D;
    font-weight: 600 !important;
    font-family: 'Barlow', sans-serif;
}


/*===============================================================*/
/* A Propos */
/*===============================================================*/


.apropos {
    width: 100%;
    height: 1500px;
    overflow: hidden;
    position: relative;
}

.apropos .bg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}



/*===============================================================*/
/* Animations */
/*===============================================================*/

@keyframes apparition {
    0% {
      margin-left: -100px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes apparition-top {
    0% {
      margin-top: -100px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes apparition-right {
    0% {
        margin-right: -30vw;
    }
    100% {
        margin-right: 0px;
    }
}


@keyframes apparition-left {
    0% {
      margin-left: -30vw;
    }
    100% {
        margin-left: 0px;
    }
}


@keyframes disparition-right {
    0% {
      right: 0px;
    }
    100% {
        right: -100vw;
        display: none;
    }
}