@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');

@font-face {
    font-family: berlin_sans_fb;
    src: url('../fonts/BerlinSansSB.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', 'sans-sherif';
    /*cursor: none;*/
    scroll-behavior: smooth !important;
}

:root {
    --light-bg: #F2F5F7;
    --dark-bg: #25283D;
    --primary-color: #45f882;
    --secondary-color: #A594F9;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: var(--dark-bg);
}


/*===============================================================*/
/* login */
/*===============================================================*/

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #10171D;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginsec {
    background-color: #10171D;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .loginsec .cardbehind {
    position: absolute;
    z-index: 1;
    height: 600px;
    width: 450px;
    background-color: var(--primary-color);
    opacity: 0.6;
    border-radius: 20px;
    transform: rotate(-3deg);
    transition: 0.3s;
}

.content .loginsec:hover .cardbehind {
    transform: rotate(0deg);
    border-radius: 45px;
    transition: 0.3s;
}


.content .loginsec .card {
    position: absolute;
    z-index: 2;
    height: 600px;
    width: 450px;
    background-color: #25283D;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content .loginsec .card h1 {
    margin-top: 30px;
    color: #fff;
    font-family: 'berlin_sans_fb';
    font-weight: 600 !important;
    letter-spacing: 2px;
    font-size: 40px;
    text-transform: uppercase;
}

.content .loginsec .card .separator {
    margin-top: 10px;
    height: 5px;
    width: 100px;
    background-color: var(--primary-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.content .loginsec .card p {
    width: 90%;
    padding-top: 10px;
    color: #b4b6c3;
    font-family: 'Barlow', sans-serif;
    font-weight: 600 !important;
    letter-spacing: 2px;
}

.content .loginsec .card form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
}

.content .loginsec .card form label {
    padding-left: 10px;
    padding-bottom: 2px;
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.content .loginsec .card form label .bx {
    padding-right: 10px;
    font-size: 20px !important;
    color: var(--primary-color);
}


.content .loginsec .card form input[type="text"],
.content .loginsec .card form input[type="email"],
.content .loginsec .card form input[type="password"] {
    background-color: #10171D;
    border: 5px solid #10171D;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 5px;
    color: #fff;
}


.content .loginsec .card form input[type="submit"]{
    background-color: var(--primary-color);
    border: 5px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 10px;
    color: #25283D;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-weight: 600 !important;
    padding: 10px;
}


.content .loginsec .card form input[type="submit"]:hover {
    cursor: pointer;
}

.content .loginsec .card form .button {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content .loginsec .card form a {
    text-align: center;
    width: 100%;
    margin-top: 14px;
}


.content .loginsec .card form a span {
    color: var(--primary-color);
}