@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');

@font-face {
    font-family: berlin_sans_fb;
    src: url('../fonts/BerlinSansSB.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', 'sans-sherif';
    /*cursor: none;*/
    scroll-behavior: smooth !important;
}

:root {
    --light-bg: #F2F5F7;
    --dark-bg: #25283D;
    --primary-color: #45f882;
    --secondary-color: #A594F9;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: var(--dark-bg);
}


/*===============================================================*/
/* Général */
/*===============================================================*/

.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 99 !important;
}
  
.cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--primary-color);
    opacity: 1;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    z-index: 99 !important;
}
  
.hover {
    background-color: #232533;
    opacity: 0.5;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: 0.5;
}
  


::-webkit-scrollbar {
    width: 8px;
}
  

  ::-webkit-scrollbar-track {
    background: var(--dark-bg);
  }
  

  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #39cf6b;
  }


.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
  
#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #b4b6c3;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -200;
    transition: 1s all ease;
}
#text {
    margin-top: -35px;
    text-align: center;
}
  
#text a {
    color: white;
    text-decoration: none;
}

.svg-wrapper .active {
    stroke-dasharray: 50 0 !important;
    stroke-width: 4px !important;
    stroke-dashoffset: 0 !important;
    stroke: var(--primary-color) !important;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 4px;
    stroke-dashoffset: 0;
    stroke: var(--primary-color);
}

.retrunTop {
    display: none;
    position: fixed;
    z-index: 99;
    bottom: 2%;
    right: 2%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #232533;
    border-radius: 20px;
}

.retrunTop .bx {
    font-size: 28px !important;
}


/*===============================================================*/
/* Nav */
/*===============================================================*/


nav {
    position: relative;
    z-index: 9;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #24242485, #00000000);
}

 nav .blur {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(180deg, #24242485, #00000000);*/
    filter: blur(4px);
}

 nav .buttons {
    position: fixed;
    z-index: 9;
    width: 80%;
    height: 80px;
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    animation: apparition-top ease 1s;
    background-color: #24242485;
}

 nav .buttons .logo {
    height: 80px;
    width: 80px;
    padding-right: 20px;
}

 nav .buttons .logo img {
    height: 100%;
}

 nav .pages {
    padding: 20px;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
}

 nav .pages .svg-wrapper a {
    padding: 15px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    text-shadow: -1px 1px 0px rgba(170, 170, 170, 0.66);
}

 nav .pages .active {
    color: var(--primary-color);
}

 nav .navigation {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
}

 nav .navigation .separator {
    height: 30%;
    margin: 20px;
    width: 2px;
    background-color: #fff;
}


 nav .navigation a .bx {
    font-size: 30px !important;
    padding: 13px;
}

 nav .navigation .button-login {
    margin-left: 5px;
    margin-right: 15px;
    background-color: var(--dark-bg);
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-right: 10px;
}

nav .navigation .button-login .pp {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-right: 6px;
    padding: 8px;
}


/*===============================================================*/
/* Header */
/*===============================================================*/

header {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1200px;
}

header .bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

header .bg img {
    width: 120%;
    height: 100%;
    filter: grayscale(1) blur(3px);
}

header .content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}


header .content .text {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    text-align: center;
    margin-top: 200px;
}

header .content .text h1 {
    color: #fff;
    font-family: 'berlin_sans_fb' !important;
    font-size: 80px;
    line-height: 0.8;
    text-shadow: -1px 5px 0px rgba(170, 170, 170, 0.66);
    text-transform: uppercase;
    padding: 5px;
    line-height: 80px;
}


header .content .text h1 span {
    color: var(--primary-color);
    font-family: 'berlin_sans_fb' !important;
    font-size: 80px;
    line-height: 0.8;
    text-shadow: -1px 5px 0px rgba(79, 79, 79, 0.66);
}

/*===============================================================*/
/* Animations */
/*===============================================================*/

@keyframes apparition {
    0% {
      margin-left: -100px;
    }
    100% {
        margin-left: 0px;
    }
}


@keyframes btn-apparition-top {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 2%;
    }
}

@keyframes btn-disparition-top {
    0% {
        bottom: 2%;
    }
    100% {
        bottom: -100px;
    }
}

/*===================*/

@keyframes apparition-top {
    0% {
      margin-top: -100px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes disparition-top {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -100px;
    }
}

@keyframes apparition-right {
    0% {
        margin-right: -30vw;
    }
    100% {
        margin-right: 0px;
    }
}


@keyframes apparition-left {
    0% {
      margin-left: -30vw;
    }
    100% {
        margin-left: 0px;
    }
}


@keyframes disparition-right {
    0% {
      right: 0px;
    }
    100% {
        right: -100vw;
        display: none;
    }
}